
// Body
$body-bg: #f3f3f3;

// Borders
$border-radius-base: 4px;
$border-radius-small: 3px;
$border-radius-large: 6px;
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;


// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Sidebar
$sidebar-width-lg: 280px;
$sidebar-width-md: calc(1.28571429em + 30px);;
$sidebar-width-xs: 0;
$sidebar-list-group-border-radius: 0;

// Main content
$main-content-width-lg: calc(100% - #{$sidebar-width-lg});
$main-content-width-md: calc(100% - 1.28571429em - 30px);
$main-content-width-xs: 100%;
