body, html {
	height: 100%;
}

// Navigation

// Navbar
.navbar.main-navbar {
	margin-bottom: 0;
}

// Sidebar
.sidebar,
.main-content {
	float: left;
	height: calc(100vh - 51px);
	overflow-y: auto;
}
.sidebar,
.main-content,
.modal,
.modal-backdrop {
	transition: width 0.5s ease-out 0s;
}
.navbar-default {

	.navbar-toggle {
		margin-left: -15px;
		margin-right: 0;
		float: left;
	}
	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background: none;
	}
	.container-fluid {

		.navbar-brand {
			margin-left: 0;
		}
	}
}


// Sidebar
.sidebar {
	width: $sidebar-width;
	background-color: #fff;
	overflow-x: hidden;

	.list-group-item {
	    padding: 15px 15px;
	    border: none;
		width: $sidebar-width;

		> .fa.fa-fw {
			width: 23px;
			margin-right: 15px;
		}

		> span {
			opacity: 1;

		}
	}

	.list-group-item:first-child {
		border-top: none;
		border-top-left-radius: $sidebar-list-group-border-radius;
		border-top-right-radius: $sidebar-list-group-border-radius;
	}

	.list-group-item:last-child {
		border-bottom-left-radius: $sidebar-list-group-border-radius;
		border-bottom-right-radius: $sidebar-list-group-border-radius;
	}
}

body.sidebar-minimized .sidebar {
	width: $sidebar-width-minimized;
}

body.sidebar-collapsed .sidebar {
	width: $sidebar-width-collapsed;
}

// Main content
.main-content {
	width: $main-content-width;
	padding-top: 20px;
	box-shadow: 30px 30px 40px -40px rgba(0, 0, 0, 0.2) inset;
}

body.sidebar-minimized .main-content {
	width: $main-content-width-sidebar-minimized;
}

body.sidebar-collapsed .main-content {
	width: $main-content-width-sidebar-collapsed;
}

// Modals
.modal, .modal-backdrop {
	top: 51px;
	left: $sidebar-width;
}

body.sidebar-minimized .modal,
body.sidbar-minimized .modal-backdrop {
	left: $sidebar-width-minimized;
}

body.sidebar-collapsed .modal,
body.sidbar-collapsed .modal-backdrop {
	left: $sidebar-width-collapsed;
}

// Medium
@media (max-width: $screen-md-max) {
	//
}

// Mobile
@media (max-width: $screen-xs-max) {
	.main-content {
		width: $main-content-width-sidebar-full;
	}
	// Modals
	.modal, .modal-backdrop {
		top: 51px;
		left: $main-content-width-sidebar-full;
	}
	.sidebar {
		width: $sidebar-width-full;

		.list-group-item {
			width: 100vw;
		}
	}
	.navbar-default .navbar-toggle {
		float: right;
		margin-left: 0;
		margin-right: 5px;
	}
}

// LArger than Mobile
@media (min-width: $screen-sm) {
	.navbar-default .navbar-toggle {
	}
}
